%table
  - activities.each do |a|
    - unless a.what.nil?
      %tr
        %td.date
          = a.created_at.strftime '%d %b %Y @ %I:%M %P'
        %td.activity
          = describe_feed_item a
        %td.delete
          %form
            %button
              %span Delete
