#people_index
  #people_index_header.index_header
    %h2 People
    .caption search people by location, interests, political affiliation, and more
    .caption find advisers, make friends, see what other people are up to

