=clearfix
  display: inline-block
  &:after
    content: "." 
    height: 0
    clear: both
    visibility: hidden
  * html &
    height: 1px
    
=font
  :font-size 12px
  :font-family "Arial", "Verdana", sans-serif
  :font-weight normal
  :color #333

body
  +font
  :bckground #8b8b8b

a
  +font
  :text-decoration none
a:hover
  :text-decoration underline

.button_link, .button_link input, .button_link button
  +font
  :background transparent
  :border 0
  :display inline
  :margin 0
  :padding 0

.button_link:hover, .button_link input:hover, .button_link button:hover
  :cursor pointer
  :text-decoration underline

#non_footer
  :background white
  :min-height 100%
  :height auto !important
  :height 100%
  :margin 0 auto -550px

.girdle
  :width 760px
  :margin 0 auto

#header
  :background white
  :margin-bottom 28px
  #logo_and_account_bar
    +clearfix
    :width 760px
    #logo
      :float left
      h1
        :padding-top 12px
        a
          :display block
          :height 84px
          :width 420px
          :background url('/images/layout/logo_header.png') no-repeat top left
          :text-indent -999em
        a:hover
          :background-position bottom left
      .caption
        :display none
    #account_bar
      :float right
      :margin-top 10px
      :margin-left 2px

#navigation
  :margin-top 12px
  :height 36px
  :line-height 26pxc
  :background url('/images/layout/navigation-dots.png') repeat-x
  :text-transform uppercase
  li
    :float left
    :width 125px
    a
      :display block
      :width 70%
      :margin 0 auto
      :height 36px
      :line-height 36px
      :text-align center
      :text-decoration none
      :color #333
      :font-weight bold
      :font-size 11px
    a:hover
      :height 30px
      :line-height 30px
      :border-top 3px solid #666
      :border-bottom 3px solid #666
  li.active
    a
      :height 30px
      :line-height 30px
      :border-top 3px solid #333
      :border-bottom 3px solid #333
    a:hover
      :border-top 3px solid #333
      :border-bottom 3px solid #333


#home_login
  :width 250px

#push
  :height 580px

#footer
  :height 550px
  :background #8b8b8b
  :color white
  
  a
    :color white
#footer_top
  :height 10px
  :padding 5px
  :background #303030
  :background-image url('/images/patterns/stripe_dark.png')
  :font-size 11px
  :line-height 10px
  :font-weight bold
  :text-transform uppercase
#footer_middle
  :height 500px
  :padding 5px
#footer_new_users
  :float left
#footer_recent
  :float right
#footer_bottom
  :height 40px
  :padding 2px
  :background #525252
  :line-height 20px
#footer_copyright
  :float right
  :text-align right
#footer_links
  :text-transform uppercase
  :clear both
#footer_about_links
  :float left
#footer_info_links
  :float right
  :text-align right
