body {
  font-size: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: normal;
  color: #333; }

strong {
  font-weight: bold; }

a {
  font-size: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: normal;
  color: #333;
  text-decoration: none;
  color: #525252; }

a:hover {
  text-decoration: underline; }

.button_link, .button_link input, .button_link button {
  font-size: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: normal;
  color: #333;
  background: transparent;
  border: 0;
  display: inline;
  margin: 0;
  padding: 0; }

.button_link:hover, .button_link input:hover, .button_link button:hover {
  cursor: pointer;
  text-decoration: underline; }

#non_footer {
  background: white;
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -550px; }

.girdle {
  width: 760px;
  margin: 0 auto; }

#header {
  margin: 12px auto 28px;
  position: relative; }
  #header #logo a {
    display: block;
    height: 84px;
    width: 420px;
    background: url('/images/layout/logo_header.png') no-repeat top left;
    text-indent: -999em; }
  #header #logo a:hover {
    background-position: bottom left; }
  #header #logo span {
    display: none; }
  #header #account_bar {
    position: absolute;
    top: 10px;
    right: 0; }
    #header #account_bar .requests {
      margin-top: 10px; }
      #header #account_bar .requests a {
        float: right;
        width: 134px;
        height: 20px;
        background: url('/images/layout/requests.png') no-repeat;
        text-indent: -999em; }

#navigation {
  margin-top: 12px;
  height: 36px;
  line-height: 26pxc;
  background: url('/images/layout/navigation-dots.png') repeat-x;
  text-transform: uppercase; }
  #navigation li {
    float: left;
    width: 125px; }
    #navigation li a {
      display: block;
      width: 70%;
      margin: 0 auto;
      height: 36px;
      line-height: 36px;
      text-align: center;
      text-decoration: none;
      color: #333;
      font-weight: bold;
      font-size: 11px; }
    #navigation li a:hover {
      height: 30px;
      line-height: 30px;
      border-top: 3px solid #666;
      border-bottom: 3px solid #666; }
  #navigation li.active a {
    height: 30px;
    line-height: 30px;
    border-top: 3px solid #333;
    border-bottom: 3px solid #333; }
  #navigation li.active a:hover {
    border-top: 3px solid #333;
    border-bottom: 3px solid #333; }

#home .block, #start .block {
  margin-bottom: 20px; }
  #home .block h3,   #start .block h3 {
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 4px; }
  #home .block .content,   #start .block .content {
    border-top: 6px solid #525252;
    background: #eee url('/images/patterns/stripe_light.png');
    padding: 8px;
    line-height: 1.3em;
    font-size: 16px;
    font-weight: bold; }
    #home .block .content ul,     #start .block .content ul {
      font-weight: normal;
      margin: 5px 0 0 5px;
      font-size: 14px; }
      #home .block .content ul li,       #start .block .content ul li {
        margin: 5px 0;
        padding-left: 14px;
        background: url('/images/home/bullet-star.gif') no-repeat 0 5px; }
  #home .block .content.alt,   #start .block .content.alt {
    background: #fff; }
#home #intro, #start #intro {
  display: block;
  padding-bottom: 20px;
  margin-bottom: 20px;
  background: url('/images/patterns/dots.gif') repeat-x bottom; }
  #home #intro:after,   #start #intro:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #home #intro,   * html #start #intro {
    height: 1px; }
  #home #intro .left,   #start #intro .left {
    float: left;
    width: 250px; }
  #home #intro .attention,   #start #intro .attention {
    margin-top: 10px;
    line-height: 1.3em;
    padding: 8px 16px; }
  #home #intro #group_signup,   #start #intro #group_signup {
    background: #e3ebd6; }
    #home #intro #group_signup a,     #start #intro #group_signup a {
      color: #525252; }
  #home #intro .right,   #start #intro .right {
    width: 500px;
    float: right; }
  #home #intro #banner a,   #start #intro #banner a {
    display: block;
    height: 70px;
    text-indent: -999em;
    margin-bottom: 5px; }
  #home #intro #banner a.banner1,   #start #intro #banner a.banner1 {
    background: url('/images/home/banners/1.png') no-repeat; }
  #home #intro #banner a.banner2,   #start #intro #banner a.banner2 {
    background: url('/images/home/banners/2.png') no-repeat; }
  #home #intro #banner a.banner3,   #start #intro #banner a.banner3 {
    background: url('/images/home/banners/3.png') no-repeat; }
  #home #intro #banner a.banner4,   #start #intro #banner a.banner4 {
    background: url('/images/home/banners/4.png') no-repeat; }
  #home #intro #banner a.banner5,   #start #intro #banner a.banner5 {
    background: url('/images/home/banners/5.png') no-repeat; }
#home #info, #start #info {
  display: block;
  padding-top: 20px;
  margin-top: 20px;
  background: url('/images/patterns/dots.gif') repeat-x top; }
  #home #info:after,   #start #info:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #home #info,   * html #start #info {
    height: 1px; }
  #home #info .left,   #start #info .left {
    float: left;
    width: 250px; }
    #home #info .left #support_block .content,     #start #info .left #support_block .content {
      background: #ebf3f7; }
  #home #info .right,   #start #info .right {
    width: 500px;
    float: right; }
  #home #info #blog h2,   #start #info #blog h2 {
    padding-bottom: 5px;
    border-bottom: 6px solid #525252; }
    #home #info #blog h2 a,     #start #info #blog h2 a {
      display: block;
      height: 52px;
      background: url('/images/home/blog-header.png') no-repeat center;
      text-indent: -999em; }
  #home #info #blog .entry,   #start #info #blog .entry {
    margin: 15px 0;
    padding-bottom: 10px;
    background: url('/images/patterns/dots.gif') repeat-x bottom; }
    #home #info #blog .entry h3,     #start #info #blog .entry h3 {
      font-size: 16px;
      font-weight: bold;
      margin: 10px 0; }
#home #freedoms h2, #start #freedoms h2 {
  text-transform: uppercase;
  text-align: center;
  font-size: 14px;
  margin-bottom: 20px; }
#home #freedoms ul, #start #freedoms ul {
  display: block; }
  #home #freedoms ul:after,   #start #freedoms ul:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #home #freedoms ul,   * html #start #freedoms ul {
    height: 1px; }
  #home #freedoms ul li,   #start #freedoms ul li {
    float: left;
    width: 182px;
    margin-right: 10px;
    height: 100%; }
    #home #freedoms ul li h3,     #start #freedoms ul li h3 {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 8px; }
    #home #freedoms ul li .content,     #start #freedoms ul li .content {
      border-top: 6px solid #525252;
      background-color: #eee;
      padding: 8px;
      height: 88px;
      line-height: 1.3em;
      font-size: 14px; }
  #home #freedoms ul li.last,   #start #freedoms ul li.last {
    width: 184px;
    margin-right: 0; }

#start #info, #start #intro {
  background: none;
  padding: 0; }
#start #info {
  margin-top: 10px; }

#login label {
  margin: 3px 0px; }
#login input {
  width: 217px; }
#login .links {
  float: left;
  padding: 8px 0px; }

.attention {
  font-size: 16px;
  background-color: #d9e0e4;
  padding: 15px;
  text-align: center; }
  .attention .title {
    margin-bottom: 10px; }
  .attention a {
    font-size: 16px;
    font-weight: bold; }

.filter {
  background-color: #e9e9e9;
  color: #525252;
  padding: 10px; }
  .filter .title {
    text-transform: uppercase;
    border-bottom: 1px solid #525252;
    margin-bottom: 10px; }
  .filter a {
    color: #525252; }

button {
  font-size: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: normal;
  color: #333;
  padding: 5px 10px;
  color: #000;
  background-color: #e9e9e9;
  border: none;
  font-size: 12px;
  cursor: pointer; }

button.active {
  color: #fff;
  background-color: #525252;
  font-weight: bold; }

.button_black {
  font-size: 12px;
  font-family: "Arial", "Verdana", sans-serif;
  font-weight: normal;
  color: #333;
  padding: 5px 10px;
  color: #fff;
  background-color: #525252;
  font-weight: bold;
  border: none;
  font-size: 12px;
  cursor: pointer; }

.voting_options {
  text-align: center;
  position: relative; }
  .voting_options .title {
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 15px; }
  .voting_options .current_vote {
    margin-left: -999em;
    height: 0px; }
  .voting_options form button {
    margin: 0 10px;
    text-transform: uppercase; }
  .voting_options form div {
    margin-top: 10px; }
  .voting_options .bottom {
    text-align: right; }

#page_title {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 20px;
  color: #666; }
  #page_title span {
    color: #333; }

#bills_index .bill {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 10px; }
  #bills_index .bill:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #bills_index .bill {
    height: 1px; }
  #bills_index .bill .img {
    float: left;
    width: 60px; }
    #bills_index .bill .img img {
      border: 1px solid #ddd; }
  #bills_index .bill .main {
    width: 480px;
    float: right; }
    #bills_index .bill .main .number {
      margin-bottom: 5px;
      font-weight: bold;
      text-transform: uppercase;
      color: #666; }
      #bills_index .bill .main .number span {
        color: #20adbb;
        margin-left: 20px; }
    #bills_index .bill .main h3 {
      padding-bottom: 4px;
      background: url('/images/patterns/dots.gif') repeat-x bottom; }
      #bills_index .bill .main h3 a {
        color: #525252;
        font-size: 16px;
        margin-bottom: 5px; }
    #bills_index .bill .main .description {
      margin: 10px 0 20px;
      line-height: 18px; }
      #bills_index .bill .main .description h4 {
        font-weight: bold; }
    #bills_index .bill .main .tags {
      font-style: italic;
      color: #8b8b8b; }

#bill #main {
  display: block; }
  #bill #main:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #bill #main {
    height: 1px; }
  #bill #main .main {
    float: left;
    width: 470px; }
    #bill #main .main img {
      display: block;
      float: left;
      border: 1px solid #ddd; }
    #bill #main .main #title {
      float: right;
      width: 400px; }
      #bill #main .main #title .number {
        font-size: 16px;
        margin-bottom: 5px;
        font-weight: bold;
        text-transform: uppercase;
        color: #666; }
        #bill #main .main #title .number span {
          color: #20adbb;
          margin-left: 20px; }
      #bill #main .main #title h2 {
        font-size: 22px;
        font-weight: bold; }
  #bill #main .voting_options {
    position: relative;
    width: 270px;
    float: right;
    padding: 18px 0 36px;
    border: 1px solid #ddd;
    background: #fafafa; }
    #bill #main .voting_options .bottom {
      position: absolute;
      right: 10px;
      bottom: 10px; }
#bill #content {
  margin-top: 20px;
  display: block; }
  #bill #content:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #bill #content {
    height: 1px; }
  #bill #content .left {
    width: 180px;
    float: left; }
    #bill #content .left div {
      background: url('/images/bills/list.png') no-repeat;
      width: 150px; }
      #bill #content .left div .title {
        width: 140px;
        padding: 5px;
        background: #f4f4f4;
        text-align: center; }
        #bill #content .left div .title a {
          color: #333;
          font-weight: bold;
          text-transform: uppercase;
          padding-right: 10px;
          background: url('/images/layout/link.gif') no-repeat right top; }
      #bill #content .left div ul {
        width: 130px;
        margin-left: 20px;
        color: #fff;
        list-style: disc;
        padding-bottom: 8px; }
        #bill #content .left div ul li {
          margin-top: 8px;
          padding-right: 5px; }
      #bill #content .left div a {
        color: #fff; }
      #bill #content .left div p {
        padding: 8px;
        color: #fff; }
  #bill #content .right {
    float: right;
    width: 539px;
    border-right: 1px solid #ddd;
    padding-right: 40px; }
    #bill #content .right #summary, #bill #content .right #sections {
      padding: 1px 10px;
      line-height: 16px; }
      #bill #content .right #summary h3,       #bill #content .right #sections h3 {
        font-size: 18px;
        font-weight: bold;
        margin: 10px 0; }
      #bill #content .right #summary p,       #bill #content .right #sections p {
        margin: 10px; }
    #bill #content .right #summary {
      border-left: 5px solid #525252;
      background: #ebf3f7;
      margin-bottom: 20px; }
    #bill #content .right #sections {
      border-left: 5px solid #ddd;
      background: #fafafa; }
      #bill #content .right #sections .section {
        border-bottom: 1px solid #ddd;
        position: relative; }
        #bill #content .right #sections .section .comments_link {
          position: absolute;
          top: 0;
          right: -50px;
          width: 26px;
          height: 22px; }
          #bill #content .right #sections .section .comments_link a {
            display: block;
            width: 39px;
            height: 34px;
            background: url('/images/bills/bubble.png') no-repeat;
            color: #fff;
            font-size: 12px;
            font-weight: bold;
            text-align: center;
            line-height: 30px; }
            #bill #content .right #sections .section .comments_link a span {
              display: none; }
          #bill #content .right #sections .section .comments_link a:hover {
            text-decoration: none;
            background-position: 0 -34px; }
        #bill #content .right #sections .section .full_text {
          margin: 10px 0;
          text-align: right; }
          #bill #content .right #sections .section .full_text a {
            font-size: 14px;
            font-weight: bold; }
      #bill #content .right #sections .entire_bill {
        margin: 20px 0 10px;
        text-align: center; }
        #bill #content .right #sections .entire_bill a {
          font-size: 18px;
          font-weight: bold; }

#polls_index .poll {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 10px 0px;
  margin-bottom: 10px; }
  #polls_index .poll:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #polls_index .poll {
    height: 1px; }
  #polls_index .poll .details {
    display: block;
    float: left;
    width: 430px; }
    #polls_index .poll .details:after {
      display: block;
      content: ".";
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #polls_index .poll .details {
      height: 1px; }
    #polls_index .poll .details .img {
      float: left;
      width: 60px; }
      #polls_index .poll .details .img img {
        border: 1px solid #ddd; }
    #polls_index .poll .details .main {
      width: 358px;
      float: right; }
      #polls_index .poll .details .main h3 {
        padding-bottom: 4px;
        background: url('/images/patterns/dots.gif') repeat-x bottom; }
        #polls_index .poll .details .main h3 a {
          color: #525252;
          font-size: 14px;
          margin-bottom: 5px; }
        #polls_index .poll .details .main h3 small {
          position: relative;
          left: 50px; }
          #polls_index .poll .details .main h3 small a {
            padding-right: 10px;
            background: url('/images/layout/link.gif') no-repeat right top; }
      #polls_index .poll .details .main .description {
        margin-top: 10px;
        line-height: 18px; }
      #polls_index .poll .details .main .voting_options {
        margin: 20px 0; }
      #polls_index .poll .details .main .tags {
        font-style: italic;
        color: #8b8b8b; }
  #polls_index .poll .stats {
    float: right;
    width: 110px;
    border-left: 1px solid #ddd;
    text-align: center; }
    #polls_index .poll .stats .segment {
      padding: 10px 0; }
      #polls_index .poll .stats .segment .title {
        padding-bottom: 3px; }
      #polls_index .poll .stats .segment .stat {
        font-size: 16px;
        font-weight: bold;
        padding-bottom: 2px; }
      #polls_index .poll .stats .segment span {
        text-transform: uppercase; }
      #polls_index .poll .stats .segment .stat.yes span {
        color: #5da203; }
      #polls_index .poll .stats .segment .stat.no span {
        color: #6c0000; }
      #polls_index .poll .stats .segment .total {
        font-style: italic;
        color: #8b8b8b; }

h2.index_header {
  height: 100px;
  margin-bottom: 20px;
  text-indent: -999em; }
  h2.index_header .caption {
    display: none; }

.navlink {
  border: 1px solid #f0f0f0;
  background: #fafafa;
  padding: 5px 10px; }

.navlink.alt {
  background: #ebf3f7;
  border-color: #daebf3; }

.navlink:hover {
  text-decoration: none;
  background: #f0f0f0; }

.navlink.alt:hover {
  background: #daebf3; }

.navlinks {
  text-align: right;
  margin-bottom: 25px; }
  .navlinks a {
    margin-left: 10px; }

#poll #poll_details {
  display: block;
  margin-bottom: 20px; }
  #poll #poll_details:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #poll #poll_details {
    height: 1px; }
  #poll #poll_details img {
    display: block;
    float: left;
    border: 1px solid #ddd; }
  #poll #poll_details .details {
    float: right;
    width: 690px; }
    #poll #poll_details .details .question {
      font-size: 22px;
      font-weight: bold;
      margin-bottom: 10px;
      width: 360px;
      float: left; }
    #poll #poll_details .details .voting_options {
      width: 280px;
      float: right;
      padding: 18px 0;
      border: 1px solid #ddd;
      background: #fafafa; }
#poll #poll_description_and_comments {
  display: block;
  width: 760px; }
  #poll #poll_description_and_comments:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #poll #poll_description_and_comments {
    height: 1px; }
  #poll #poll_description_and_comments .block {
    border-top: 1px solid #ddd;
    margin-bottom: 10px; }
    #poll #poll_description_and_comments .block .title {
      background-color: #e9e9e9;
      font-weight: bold;
      padding: 4px 8px;
      border-bottom: 2px solid #999; }
    #poll #poll_description_and_comments .block .title a {
      font-weight: bold;
      color: #333;
      padding-right: 10px;
      background: url('/images/layout/link.gif') no-repeat right top; }
    #poll #poll_description_and_comments .block .content {
      background-color: #f4f4f4;
      padding: 10px; }
      #poll #poll_description_and_comments .block .content .content_block {
        background: white;
        padding: 5px; }
      #poll #poll_description_and_comments .block .content ul li {
        list-style: disc;
        margin-left: 2em; }
  #poll #poll_description_and_comments #poll_description_etc {
    float: left;
    width: 225px; }
  #poll #poll_description_and_comments #poll_comments_etc {
    float: right;
    width: 515px; }
#poll #poll_stats_table {
  width: 200px;
  background: white;
  margin: 0 auto; }
  #poll #poll_stats_table tr, #poll #poll_stats_table td, #poll #poll_stats_table th {
    text-align: center; }
  #poll #poll_stats_table td, #poll #poll_stats_table th {
    padding: 8px 5px;
    vertical-align: middle; }
  #poll #poll_stats_table td {
    line-height: 18px;
    font-size: 16px; }
  #poll #poll_stats_table td.label {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 18px; }
  #poll #poll_stats_table tr.yes .label {
    color: #5da203; }
  #poll #poll_stats_table tr.no .label {
    color: #6c0000; }
  #poll #poll_stats_table th.date {
    background: #e9e9e9;
    font-weight: bold; }
  #poll #poll_stats_table th.all, #poll #poll_stats_table th.verified {
    width: 80px;
    border-left: 4px solid #e9e9e9; }

.list_and_filters {
  display: block; }
  .list_and_filters:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html .list_and_filters {
    height: 1px; }
  .list_and_filters .list {
    float: left;
    width: 550px; }
    .list_and_filters .list .actions {
      text-align: right;
      margin-top: 10px; }
      .list_and_filters .list .actions a {
        font-weight: bold;
        margin: 0 10px; }
  .list_and_filters .filters {
    float: right;
    width: 200px; }
    .list_and_filters .filters .attention {
      margin-bottom: 10px; }
    .list_and_filters .filters .filter {
      margin-bottom: 10px; }

.pagination {
  margin-top: 10px;
  text-align: center;
  line-height: 200%; }
  .pagination a, .pagination span {
    border: 1px solid #f0f0f0;
    background: #fafafa;
    padding: 3px 7px;
    margin: 0 3px; }
  .pagination a:hover {
    text-decoration: none;
    background: #f0f0f0; }
  .pagination .current {
    background: #333;
    color: #fff; }
  .pagination .disabled {
    display: none; }

#people_index .person {
  display: block;
  width: 550px;
  padding: 10px 0px;
  border-bottom: 1px solid #ddd; }
  #people_index .person:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #people_index .person {
    height: 1px; }
  #people_index .person .details {
    display: block;
    float: left;
    width: 440px; }
    #people_index .person .details:after {
      display: block;
      content: ".";
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #people_index .person .details {
      height: 1px; }
    #people_index .person .details .img {
      float: left;
      width: 60px; }
      #people_index .person .details .img img {
        border: 1px solid #ddd; }
    #people_index .person .details .main {
      float: right;
      width: 370px; }
      #people_index .person .details .main div {
        margin-top: 5px; }
      #people_index .person .details .main h3 a {
        color: #525252;
        font-size: 16px;
        margin-bottom: 5px; }
      #people_index .person .details .main .description {
        margin-top: 15px; }
        #people_index .person .details .main .description span {
          font-weight: bold; }
  #people_index .person .actions {
    float: right;
    width: 110px; }

.actions form.button button {
  width: 100%;
  margin-bottom: 10px; }

#person {
  display: block;
  width: 760px; }
  #person:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #person {
    height: 1px; }
  #person #person_photo_etc {
    float: left;
    width: 225px; }
    #person #person_photo_etc .photo {
      text-align: center; }
      #person #person_photo_etc .photo img {
        padding: 10px;
        border: 1px solid #ddd; }
  #person #person_details_etc {
    float: right;
    width: 515px; }
    #person #person_details_etc #person_details .name {
      font-size: 24px;
      font-weight: bold; }
  #person .block {
    margin: 10px 0 20px; }
    #person .block .title {
      background-color: #e9e9e9;
      font-weight: bold;
      padding: 4px 8px;
      border-bottom: 2px solid #999; }
    #person .block .alt_title {
      color: #fff;
      background-color: #8b8b8b;
      border-bottom: 2px solid #111; }
    #person .block p {
      margin: 10px 0;
      line-height: 16px; }
    #person .block .avatars {
      display: block; }
      #person .block .avatars:after {
        display: block;
        content: ".";
        height: 0;
        clear: both;
        visibility: hidden; }
      * html #person .block .avatars {
        height: 1px; }
      #person .block .avatars a {
        float: left;
        width: 60px;
        height: 60px;
        margin: 7px; }
        #person .block .avatars a img {
          border: 1px solid #ddd; }

#recent_activity ul {
  margin: 5px 0; }
  #recent_activity ul li {
    line-height: 18px;
    border-bottom: 1px solid #ddd;
    position: relative;
    padding: 3px 25px 3px 100px; }
    #recent_activity ul li span {
      position: absolute;
      left: 10px;
      color: #666; }
    #recent_activity ul li form {
      width: 10px;
      height: 10px;
      position: absolute;
      right: 5px;
      top: 7px; }
      #recent_activity ul li form button {
        display: block;
        padding: 0;
        height: 10px;
        width: 10px;
        background: url('/images/other/delete.gif') no-repeat; }
        #recent_activity ul li form button span {
          display: none; }

#groups_index .group {
  display: block;
  border-bottom: 1px solid #ccc;
  padding: 5px 0px 20px;
  margin-bottom: 10px; }
  #groups_index .group:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #groups_index .group {
    height: 1px; }
  #groups_index .group .details .img {
    float: left;
    width: 60px; }
    #groups_index .group .details .img img {
      border: 1px solid #ddd; }
  #groups_index .group .details .main {
    width: 480px;
    float: right; }
    #groups_index .group .details .main h3 a {
      color: #525252;
      font-size: 14px;
      margin-bottom: 5px; }
    #groups_index .group .details .main h3 span {
      margin-left: 20px;
      font-weight: bold; }
    #groups_index .group .details .main .description {
      margin-top: 10px;
      line-height: 16px; }
    #groups_index .group .details .main .tags {
      margin-top: 20px;
      font-style: italic;
      color: #8b8b8b; }

#group {
  display: block;
  width: 760px; }
  #group:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #group {
    height: 1px; }
  #group #group_photo_etc {
    float: left;
    width: 225px; }
    #group #group_photo_etc .photo {
      text-align: center; }
      #group #group_photo_etc .photo img {
        padding: 10px;
        border: 1px solid #ddd; }
  #group #group_details_etc {
    float: right;
    width: 515px; }
    #group #group_details_etc #group_details .name {
      font-size: 24px;
      font-weight: bold; }
  #group .block {
    margin-top: 10px; }
    #group .block .title {
      background-color: #e9e9e9;
      font-weight: bold;
      padding: 4px 8px;
      border-bottom: 2px solid #999; }
    #group .block .alt_title {
      color: #fff;
      background-color: #8b8b8b;
      border-bottom: 2px solid #111; }
    #group .block p {
      margin: 10px 0;
      line-height: 16px; }
    #group .block .avatars {
      display: block; }
      #group .block .avatars:after {
        display: block;
        content: ".";
        height: 0;
        clear: both;
        visibility: hidden; }
      * html #group .block .avatars {
        height: 1px; }
      #group .block .avatars a {
        float: left;
        width: 60px;
        height: 60px;
        margin: 7px; }
        #group .block .avatars a img {
          border: 1px solid #ddd; }

.comments {
  background: #eee; }
  .comments .content {
    padding: 10px; }
    .comments .content form {
      padding: 0;
      border: none; }
      .comments .content form label {
        margin: 4px 0;
        color: #aaa; }
      .comments .content form textarea {
        width: 487px; }
    .comments .content .comment {
      display: block;
      background: #fff;
      margin: 20px 0 10px;
      padding: 10px; }
      .comments .content .comment:after {
        display: block;
        content: ".";
        height: 0;
        clear: both;
        visibility: hidden; }
      * html .comments .content .comment {
        height: 1px; }
      .comments .content .comment .avatar {
        float: left;
        width: 60px; }
        .comments .content .comment .avatar img {
          border: 1px solid #ddd; }
      .comments .content .comment .main {
        float: right;
        width: 400px; }
        .comments .content .comment .main .meta {
          color: #666;
          padding-bottom: 3px;
          border-bottom: 1px solid #ddd;
          position: relative; }
          .comments .content .comment .main .meta span {
            margin-left: 10px; }
          .comments .content .comment .main .meta small {
            font-size: 10px;
            position: absolute;
            right: 0; }

#polls_index h2 {
  background-image: url('/images/polls/header.png'); }

#people_index h2 {
  background-image: url('/images/people/header.png'); }

#groups_index h2 {
  background-image: url('/images/groups/header.png'); }

#bills_index h2 {
  background-image: url('/images/bills/header.png'); }

#forums h2 {
  background-image: url('/images/forums/header.png'); }

#edit_user .image_upload {
  text-align: center; }
  #edit_user .image_upload label {
    font-size: 14px;
    color: #222;
    margin-top: 15px;
    margin-bottom: 5px; }
  #edit_user .image_upload .file {
    margin: 0 auto;
    width: 500px; }
#edit_user .current_image {
  text-align: center; }

table td {
  border-bottom: 1px solid #ddd; }
table tr.alt0 td {
  background: #fafafa; }
table tr.alt1 td {
  background: #f4f4f4; }

#forums .section {
  margin-bottom: 20px; }
  #forums .section h3 {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
    position: relative; }
    #forums .section h3 .navlink {
      position: absolute;
      right: 0; }
  #forums .section table {
    width: 760px; }
    #forums .section table .name {
      width: 690px;
      border-right: 1px solid #fff; }
    #forums .section table .topic_count {
      width: 70px;
      text-align: center; }
    #forums .section table tr td {
      padding: 10px 15px; }
    #forums .section table thead td {
      font-weight: bold;
      background: #555;
      color: #fff; }
  #forums .section .bottom {
    margin: 10px 0;
    display: block; }
    #forums .section .bottom:after {
      display: block;
      content: ".";
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #forums .section .bottom {
      height: 1px; }
    #forums .section .bottom .navlink {
      float: right; }

#forums.specified .section table {
  margin-bottom: 10px; }
#forums.specified .section h3 {
  position: relative; }
  #forums.specified .section h3 a {
    position: absolute;
    right: 0;
    bottom: 0; }
#forums.specified .section .bottom {
  display: block;
  position: relative; }
  #forums.specified .section .bottom:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #forums.specified .section .bottom {
    height: 1px; }
  #forums.specified .section .bottom .navlink {
    position: absolute;
    left: 0;
    top: 0; }
  #forums.specified .section .bottom .pagination {
    margin-top: 0; }

#forum .head {
  margin-bottom: 10px; }
  #forum .head h2 {
    font-size: 20px;
    font-weight: bold; }
  #forum .head .navlinks {
    text-align: right; }
#forum table {
  width: 760px;
  margin-bottom: 10px; }
  #forum table td {
    padding: 10px 15px; }
  #forum table thead td {
    font-weight: bold;
    background: #555;
    color: #fff; }
  #forum table .posts_count, #forum table .author {
    width: 70px;
    text-align: center;
    border-left: 1px solid #fff; }
#forum .button_black {
  float: right;
  padding: 8px 10px;
  border: 1px solid #DADADA; }
#forum .bottom {
  display: block;
  position: relative; }
  #forum .bottom:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #forum .bottom {
    height: 1px; }
  #forum .bottom .button_black {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 10px;
    border: 1px solid #DADADA; }
  #forum .bottom .pagination {
    margin-top: 0; }

#topic .head .navlinks {
  text-align: right; }
#topic .head h2 {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px; }
#topic table {
  width: 760px;
  margin-bottom: 10px; }
  #topic table td {
    padding: 10px 15px; }
  #topic table thead td {
    font-weight: bold;
    background: #555;
    color: #fff; }
  #topic table thead .author {
    border-right: 1px solid #fff; }
  #topic table .author {
    width: 110px; }
  #topic table tbody .author {
    border-right: 1px solid #fff;
    text-align: center; }
    #topic table tbody .author .image a img {
      border: 1px solid #ddd; }
    #topic table tbody .author .username {
      margin-top: 10px; }
    #topic table tbody .author .address {
      margin-top: 5px;
      color: #888; }
  #topic table .text {
    width: 650px;
    vertical-align: top; }
    #topic table .text .meta {
      margin-bottom: 10px;
      color: #aaa;
      position: relative; }
      #topic table .text .meta a {
        color: #aaa;
        position: absolute;
        right: 0px; }
#topic .bottom {
  display: block;
  position: relative; }
  #topic .bottom:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #topic .bottom {
    height: 1px; }
  #topic .bottom .navlink {
    position: absolute;
    left: 0;
    top: 0; }
  #topic .bottom .button_black {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px 10px;
    border: 1px solid #DADADA; }
  #topic .bottom .pagination {
    margin-top: 0; }

#topic_media {
  margin-top: 20px; }
  #topic_media table .narrow {
    width: 50px;
    text-align: center; }

#new_topic textarea {
  height: 250px; }

#login_page {
  display: block; }
  #login_page:after {
    display: block;
    content: ".";
    height: 0;
    clear: both;
    visibility: hidden; }
  * html #login_page {
    height: 1px; }
  #login_page #login {
    width: 250px;
    float: left; }
  #login_page .info {
    float: right;
    width: 470px;
    border-left: 1px solid #ddd;
    padding-left: 20px; }

#push {
  height: 580px; }

#footer {
  height: 550px;
  background: #787878;
  color: white; }
  #footer a {
    color: white;
    font-weight: bold; }
  #footer h2 {
    height: 10px;
    padding: 5px;
    background: #303030;
    background-image: url('/images/patterns/stripe_dark.png');
    font-size: 11px;
    line-height: 10px;
    font-weight: bold;
    text-transform: uppercase; }
  #footer .content {
    display: block;
    height: 500px;
    padding: 5px; }
    #footer .content:after {
      display: block;
      content: ".";
      height: 0;
      clear: both;
      visibility: hidden; }
    * html #footer .content {
      height: 1px; }
    #footer .content h3 {
      font-weight: bold;
      text-transform: uppercase;
      border-top: 1px solid #ccc;
      padding: 3px 0px;
      margin-bottom: 10px; }
    #footer .content .left {
      float: left;
      width: 200px; }
      #footer .content .left .users {
        height: 390px; }
        #footer .content .left .users .user {
          display: block;
          margin: 10px 0px; }
          #footer .content .left .users .user:after {
            display: block;
            content: ".";
            height: 0;
            clear: both;
            visibility: hidden; }
          * html #footer .content .left .users .user {
            height: 1px; }
          #footer .content .left .users .user .image {
            float: left;
            width: 60px; }
          #footer .content .left .users .user .details {
            float: right;
            width: 130px;
            font-weight: bold; }
    #footer .content .right {
      float: right;
      width: 520px; }
      #footer .content .right .topic, #footer .content .right .poll {
        display: block;
        margin: 10px 0px; }
        #footer .content .right .topic:after,         #footer .content .right .poll:after {
          display: block;
          content: ".";
          height: 0;
          clear: both;
          visibility: hidden; }
        * html #footer .content .right .topic,         * html #footer .content .right .poll {
          height: 1px; }
        #footer .content .right .topic .image,         #footer .content .right .poll .image {
          float: left;
          width: 60px; }
        #footer .content .right .topic .details,         #footer .content .right .poll .details {
          width: 450px;
          float: right; }
  #footer .bottom {
    height: 40px;
    padding: 2px;
    background: #585858;
    line-height: 20px; }
    #footer .bottom .copyright {
      text-align: right; }
    #footer .bottom .links {
      text-transform: uppercase;
      clear: both; }
      #footer .bottom .links .left {
        float: left; }
      #footer .bottom .links .right {
        float: right;
        text-align: right; }
  #footer .poll .heading a {
    font-size: 14px; }
  #footer .poll .vote_count {
    margin-top: 5px;
    padding-bottom: 3px;
    border-bottom: 1px solid #888; }
  #footer .poll .results {
    margin-top: 5px;
    font-size: 16px; }
  #footer .topic .heading {
    padding-bottom: 3px;
    border-bottom: 1px solid #888; }
    #footer .topic .heading a {
      font-size: 14px; }
  #footer .topic .text {
    margin-top: 10px; }
  #footer .user a {
    font-size: 14px; }
  #footer .user .location, #footer .user .other {
    margin-top: 7px;
    color: #bbb; }
  #footer .user .location:hover, #footer .user .other:hover {
    color: #ddd; }

#group_requests h2, #group_requests .caption, #contact_requests h2, #contact_requests .caption {
  font-weight: bold;
  margin-bottom: 10px; }
#group_requests h2, #contact_requests h2 {
  font-size: 20px; }
#group_requests .caption, #contact_requests .caption {
  font-size: 14px;
  margin-bottom: 30px; }
#group_requests .request, #contact_requests .request {
  padding: 10px 0;
  padding-left: 10px;
  margin-top: 10px;
  position: relative;
  border-bottom: 1px solid #ddd; }
  #group_requests .request a,   #contact_requests .request a {
    font-weight: bold; }
  #group_requests .request form,   #contact_requests .request form {
    position: absolute;
    bottom: 4px; }
    #group_requests .request form button,     #contact_requests .request form button {
      padding: 4px 5px; }
  #group_requests .request .confirm,   #contact_requests .request .confirm {
    right: 0; }
    #group_requests .request .confirm button,     #contact_requests .request .confirm button {
      background: #333;
      color: #fff; }
  #group_requests .request .reject,   #contact_requests .request .reject {
    right: 130px; }

.tag_cloud {
  line-height: 16px;
  text-align: justify; }
  .tag_cloud .t1 {
    font-size: 10px; }
  .tag_cloud .t2 {
    font-size: 12px; }
  .tag_cloud .t3 {
    font-size: 14px; }
  .tag_cloud .t4 {
    font-size: 16px; }
  .tag_cloud .t5 {
    font-size: 18px; }

#flash {
  padding: 10px;
  padding-left: 35px;
  margin-bottom: 10px;
  background: #ebf3f7 url('/images/layout/info.gif') no-repeat 1% 50%;
  border: 1px solid #daebf3;
  color: #306076;
  font-weight: bold; }
