body { text-align: center; }

.girdle { text-align: left; }

#freedoms ul li { width: 182px !important; }
#freedoms ul li.last { width: 184px !important; }

#navigation { position: relative; top: 12px; }
#navigation li { text-align: center; }

.block .avatars a { margin: 6px !important; }

button, input.button { width:auto; overflow:visible; }

#bill .left .title {
  width: 150px !important;
}
#bill .right {
  width: 580px !important;
}
#bill .right .section h3 { margin-left: 5px !important; }
#bill .right .section .comments_link {
  right: -10px !important;
}

#bill .navlinks, #poll .navlinks, #group .navlinks, #person .navlinks { padding-top: 10px; }
#feedback_link {
  position: absolute !important;
  right: auto !important; bottom: auto !important;
  left: expression( ( -20 - this.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' )  !important;
  top: expression( ( 0 - this.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )  !important;
}

.voting_options .top_forms {
  padding-top: 10px;
  padding-bottom: 10px;
}

.bottom_form {
  margin-top: 10px;
}

#feedback_form {
  position: absolute !important;
  right: auto !important; bottom: auto !important;
  left: expression( ( -145 - this.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' )  !important;
  top: expression( ( -50 - this.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )  !important;
}
#recent_activity ul li span { left: -90px; top: 1px; }

#topic table .text .meta a { right: 10px; }
#topic table .text .meta .edit { right: 50px; }

.voting_options form { margin-top: -10px; }

#forum .head, #topic .head { padding-top: 10px; }


.donate_form button { padding: 4px; }
#support_block button { padding: 1px !important; }

* html .donate_form input { width: 130px !important; margin-top: 1px; height: 21px !important; }
* html #footer .donate_form { margin-top: -45px; }
* html #support_block input { width: 160px !important; margin-top: 0px; height: 26px !important; }