body { text-align: center; }

.girdle { text-align: left; }

#freedoms ul li { width: 182px !important; }
#freedoms ul li.last { width: 184px !important; }

#navigation { position: relative; top: 12px; }
#navigation li { text-align: center; }

.block .avatars a { margin: 6px !important; }

button { width:auto; overflow:visible; }

#bill .left .title {
  width: 150px !important;
}
#bill .right {
  width: 580px !important;
}
#bill .right .section h3 { margin-left: 5px !important; }
#bill .right .section .comments_link {
  right: -10px !important;
}
#bill #title { width: 490px !important; }
#bill .navlinks, #poll .navlinks, #group .navlinks, #person .navlinks { padding-top: 10px; }
#feedback_link {
  position: absolute !important;
  right: auto !important; bottom: auto !important;
  left: expression( ( -20 - this.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' )  !important;
  top: expression( ( 0 - this.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )  !important;
}
#feedback_form {
  position: absolute !important;
  right: auto !important; bottom: auto !important;
  left: expression( ( -145 - this.offsetWidth + ( document.documentElement.clientWidth ? document.documentElement.clientWidth : document.body.clientWidth ) + ( ignoreMe2 = document.documentElement.scrollLeft ? document.documentElement.scrollLeft : document.body.scrollLeft ) ) + 'px' )  !important;
  top: expression( ( -50 - this.offsetHeight + ( document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight ) + ( ignoreMe = document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop ) ) + 'px' )  !important;
}