/ Groups View
#group
  #group_photo_etc
    .photo= image_tag @user.avatar.url(:large)
    #group_donations_block.block
      .title Donations Earned to Date
    #group_members_block.block
      .title Group Members
      .avatars
        - @group.members.each do |member|
          =link_to image_tag(member.user.avatar.url(:small)), url(:person, :id => member.user.username)
    #group_photos_block.block
      .title Group Photos
    #group_videos_block.block
      .title Group Videos
  #group_details_etc
    #group_details
      .name== #{@group.name}
    #recent_activity.block
      .title.alt_title Recent Activity
      .content
        %ul
          %li
            %span Today
            Added a new event, "Event name"
            %form
              %button
                %span Delete
    - unless @group.description.nil?
      #group_description.block
        .title About Us
        .content
          = @group.description.render_textile
    - unless @group.mission.nil?
      #group_mission.block
        .title Our Mission Statement
        .content
          = h @group.mission