#blog
  %h2
    = link_to 'FreeGovernment Blog', 'http://blog.freegovernment.org'
  - if !rss.nil? && !rss.empty?
    - @rss.each do |entry|
      .entry
        %h3= entry.title
        .content= entry.content
        .permalink= link_to "Permalink", entry.urls.first
