.block
  .content
    FreeGovernment.org is a:
    %ul
      %li
        %strong non-profit
        organization
      %li
        built on
        %strong open source
        software
      %li
        defined by
        %strong four freedoms
      %li
        designed to
        %strong empower citizens

