<div class="static_page">
	<h1>About us</h1>
	
	<div class="section">
		<h2>About FreeGovernment.org</h2>
    <p>
    FreeGovernment.org is a non-profit open source project launched on July 4th, 2008, focused on providing citizens with more direct control of Congress through online polling and forums.
    </p>
    <p>
    Please visit the <a href="http://blog.freegovernment.org">Free Government Blog</a> for the most up-to-date information about Free Government.
    </p>
  </div>
	<div class="section">
		<h2>Who start this?</h2>
		<div class="person">
			<div class="photo">
				<img src="/images/pages/about_us/foy_savas.jpg" alt="Foy Savas" />
			</div>
			<div class="description">
				<h3>Foy Savas</h3>
        <h4>Founder</h4>
        <p>
Foy is the idea-to-reality guy behind FreeGovernment.org. He's also a really bad dancer. But what skills he lacks on the dancefloor, he makes up for in hard work as both executive director and lead programmer of FreeGov. When he isn't working on code or philosophizing about life and ethics, he gravitates toward good live music, city walking, and thinking up other innovative ideas.
        </p>
			</div>
		</div>
		<div class="person">
			<div class="photo">
				<img src="/images/pages/about_us/sophia_chou.jpg" alt="Sophia Chou" />
			</div>
			<div class="description">
				<h3>Sophia Chou</h3>
        <h4>Co-Founder</h4>
        <p>
A fan of exotic fruits, grassroot politics, and Paris Fashion Week, Sophia is the co-founder of FreeGovernment.org. Though a wanna-be hipster at heart, she currently studies dentistry as a graduate student. As you read this, she is probably drinking her 5th cup of coffee of the day, jamming to electroclash, and designing webpages.
        </p>
			</div>
		</div>
	</div>
	<div class="section">
		<h2>FreeGovernment.org Team</h2>
		<div class="person">
			<div class="photo">
				<img src="/images/pages/about_us/tomasz_werbicki.jpg" alt="Tomasz Werbicki" />
			</div>
			<div class="description">
				<h3>Tomasz Werbicki</h3>
        <h4>Contributor</h4>
        <p>
        Tomasz provides the team with an invaluable critical eye and feedback. Besides being a talented pianist (check out <a href="http://youtube.com/neafel">his YouTube channel</a>), Tomasz is an ever-evolving programmer and designer. He understands that sites need to have both beautiful form and seamless function.
        </p>
			</div>
		</div>
		<div class="person">
			<div class="photo">
				<img src="/images/pages/about_us/jayme_fosa.jpg" alt="Jayme Fosa" />
			</div>
			<div class="description">
				<h3>Jayme Fosa</h3>
        <h4>Contributor</h4>
        <p>
Providing the team with doses of his infectious humor and energy, Jayme is an avid Go fan, cat lover, and cookie eater. His passions include ballroom dancing and world travel. Though his bios tend to read like personal ads, his work on FreeGov has been in supplementing tests and seeking code coverage for the FreeGovernment.org codebase.
        </p>
			</div>
		</div>
		<div class="person">
			<div class="photo">
				<img src="/images/pages/about_us/ilian_mitev.jpg" alt="Ilian Mitev" />
			</div>
			<div class="description">
				<h3>Ilian Mitev</h3>
        <h4>Contributor</h4>
        <p>
Ilian likes to describes himself as a "charming all-around loveable guy, who likes to make people laugh and is more loyal than a labrador retriever." He also notes, he's got "looks to rival those of Brad Pitt." Modesty aside, Ilian is a growing programmer with a penchant for all things Ruby.
        </p>
			</div>
		</div>
	</div>
</div>
