<div class="static_page">
	<h1>About us</h1>
	
	<div class="section">
		<h2>About FreeGovernment.org</h2>
		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Phasellus blandit porta augue. Aliquam mi. Curabitur ligula ligula, consectetuer et, pellentesque dictum, sollicitudin id, nulla. Fusce lacinia vehicula enim. Vestibulum posuere sollicitudin augue. Proin mollis, turpis pulvinar lacinia tempor, urna sapien facilisis justo, pretium ullamcorper libero risus in augue.</p>
		<p>Morbi faucibus lacus sit amet risus. Phasellus ac enim. Sed sed lectus ut metus rhoncus gravida. Ut adipiscing. Maecenas eu tortor. Pellentesque ac tortor. Nullam vitae mi.</p>
		<p>Nunc pharetra nisl vitae nibh. Integer eu erat. Mauris et sapien eu metus venenatis ullamcorper. Integer hendrerit porta tortor. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nunc nunc. Nullam auctor sollicitudin ligula. Donec tellus. Morbi tellus nibh, vehicula vel, iaculis sit amet, aliquam ut, lacus.</p>
	</div>

	<div class="section">
		<h2>Who we are</h2>
		<div class="person">
			<div class="photo">
				<img src="/images/team/neaf.jpg" alt="Tomasz Werbicki" />
			</div>
			<div class="description">
				<h3>Tomasz Werbicki</h3>
				<h4>Contributor</h4>
				<p>Tomasz has always given the team an invaluable critical eye and feedback. Besides being a talented pianist, Tomasz is an ever-evolving programmer and designer.</p>
				<p>He understands that sites need to have beautiful form and exquisite function. FreeGovernment.org is very lucky to have him in our team.</p>
			</div>
		</div>
		<div class="person">
			<div class="photo">
				<img src="/images/team/neaf.jpg" alt="Tomasz Werbicki" />
			</div>
			<div class="description">
				<h3>Tomasz Werbicki</h3>
				<h4>Contributor</h4>
				<p>Tomasz has always given the team an invaluable critical eye and feedback. Besides being a talented pianist, Tomasz is an ever-evolving programmer and designer.</p>
				<p>He understands that sites need to have beautiful form and exquisite function. FreeGovernment.org is very lucky to have him in our team.</p>
			</div>
		</div>
	</div>

	<div class="section">
		<h2>FreeGovernment.org Team</h2>
		<div class="person">
			<div class="photo">
				<img src="/images/team/neaf.jpg" alt="Tomasz Werbicki" />
			</div>
			<div class="description">
				<h3>Tomasz Werbicki</h3>
				<h4>Contributor</h4>
				<p>Tomasz has always given the team an invaluable critical eye and feedback. Besides being a talented pianist, Tomasz is an ever-evolving programmer and designer.</p>
				<p>He understands that sites need to have beautiful form and exquisite function. FreeGovernment.org is very lucky to have him in our team.</p>
			</div>
		</div>
		<div class="person">
			<div class="photo">
				<img src="/images/team/neaf.jpg" alt="Tomasz Werbicki" />
			</div>
			<div class="description">
				<h3>Tomasz Werbicki</h3>
				<h4>Contributor</h4>
				<p>Tomasz has always given the team an invaluable critical eye and feedback. Besides being a talented pianist, Tomasz is an ever-evolving programmer and designer.</p>
				<p>He understands that sites need to have beautiful form and exquisite function. FreeGovernment.org is very lucky to have him in our team.</p>
			</div>
		</div>
		<div class="person">
			<div class="photo">
				<img src="/images/team/neaf.jpg" alt="Tomasz Werbicki" />
			</div>
			<div class="description">
				<h3>Tomasz Werbicki</h3>
				<h4>Contributor</h4>
				<p>Tomasz has always given the team an invaluable critical eye and feedback. Besides being a talented pianist, Tomasz is an ever-evolving programmer and designer.</p>
				<p>He understands that sites need to have beautiful form and exquisite function. FreeGovernment.org is very lucky to have him in our team.</p>
			</div>
		</div>
	</div>
</div>