<div class="static_page">
	<h1>Feel free to contact us</h1>
	
	<div class="section">
		<h2>E-mail</h2>
	
		<ul>
			<li>General questions <a href="mailto:info@freegovernment.org">info@freegovernment.org</a></li>
			<li>Site support<a href="mailto:support@freegovernment.org">support@freegovernment.org</a></li>
		</ul>

		<ul>
			<li>Volunteer for FreeGov<a href="mailto:volunteer@freegovernment.org">volunteer@freegovernment.org</a></li>
      <li>Join the Development Team<a href="mailto:dev@freegovernment.org">dev@freegovernment.org</a></li>
      <li>Candidate Applications<a href="mailto:apply@freegovernment.org">apply@freegovernment.org</a></li>
    </ul>
    <ul>
      <li>Donations<a href="mailto:donations@freegovernment.org">donations@freegovernment.org</a></li>
    </ul>

  </div>
  <div class="section">
    <h2>IRC</h2>
    <ul>
      <li>#freegovernment on freenode.net</li>
    </ul>
  </div>

</div>
