<div class="static_page">
  <h1>FAQ</h1>
  <div class="section">
    <h2>General</h2>
    <a name="general-1"></a>
    <div class="question">
      What is FreeGovernment.org?
    </div>
    <div class="answer">
      FreeGovernment.org is an online polling and bill drafting site run by the Free Government Party.
    </div>
    <a name="general-2"></a>
    <div class="question">
      Wait, this is put together by a political party?
    </div>
    <div class="answer">
      Yes, but since we're dedicated to a process and not a platform, we're unlike any of the other political parties out there. Founded on the Four Principles of Free Government, we look to empower citizens through direct, convenient participation that interfaces well with the current system.
    </div>
    <a name="general-3"></a>
    <div class="question">
      Does signing up on this site conflict with my other political affiliation?
    </div>
    <div class="answer">
      Absolutely not. The Free Government Party is more a "meta-party" than anything else. Our purpose is to empower you as a citizen, and since forming groups is so critical to robust politics, we in fact look to facilitate these political associations.
    </div>
    <a name="general-4"></a>
    <div class="question">
I heard your going to run a candidate, is this true?
    </div>
    <div class="answer">
Yes. We are currently looking to run candidates for the U.S. House of Representatives.
    </div>
    <a name="general-5"></a>
    <div class="question">
Does the Free Government Party ever intend to run a presidential candidate?
    </div>
    <div class="answer">
No. The Free Government Party will not run candidates for positions that are not intended to represent citizens.
    </div>
    <a name="general-6"></a>
    <div class="question">
What connection does FreeGovernment.org have to the Free Government Foundation?
    </div>
    <div class="answer">
The Free Government Foundation is a non-profit that has written the free software used here on FreeGovernment.org. It is open source software licenced under the GPL, so feel free to start your own version of this site, if you so desire.
    </div>
  </div>
  <div class="section">
    <h2>Advisers</h2>
    <a name="advisers-1"></a>
    <div class="question">
      What are "advisers?" Who are they and what do they do?
    </div>
    <div class="answer">
Anyone can be an adviser: any person, any group, and you. Advisers serve a central role on FreeGovernment.org. See them as your very own representative who vote on your behalf. Advisers participate on FreeGov just like any other user, except when they vote on polls and bills, they vote for all their advisees as well. For example, if an adviser votes "Yes" on the poll "Are oranges orange" and has 15 advisees, 16 "Yes" votes will be counted towards the poll total.
    </div>
    <a name="advisers-2"></a>
    <div class="question">
      What happens if I have multiple advisers?
    </div>
    <div class="answer">
    </div>
    <a name="advisers-3"></a>
    <div class="question">
Can I be an adviser?
    </div>
    <div class="answer">
Of course. If you'd like to take up the responsibilities of an adviser, go to your "account settings" and tick the box next to "Do you want to be an adviser?"
    </div>
    <a name="advisers-4"></a>
    <div class="question">
I don't want to be an adviser anymore. Is that OK? And how do I stop?
    </div>
    <div class="answer">
      That's completely fine! All you have to do is go to "account settings" and un-tick the box next to "Do you want to be an adviser."
    </div>
    <a name="advisers-5"></a>
    <div class="question">
      I'm an adviser. Can I have advisers too?
    </div>
    <div class="answer">
Once you're an adviser, you can't have any advisers of your own. If you have advisers, and decide to become an adviser, you will lose any current advisers you may have had.
    </div>
  </div>
  <div class="section">
    <h2>Polls</h2>
    <a name="polls-1"></a>
    <div class="question">
For every poll question, I see a "Topics Being Discussed" section. I'm not sure what this is.
    </div>
    <div class="answer">
      This is just a list of topics in the forums related to the poll question. Everytime users add a new topic for discussion in the forums, it will show up on this list. This allows users to quickly skim what users are talking about in the forums regarding this poll question while staying on the same page.
    </div>
    <a name="polls-2"></a>
    <div class="question">
      Can I change my vote on a poll? I voted "Yes" a little while back, but I've changed my mind to "No." 
    </div>
    <div class="answer">
      The beauty of FreeGov is that you can change your vote anytime. Yes, that means you can vote "Yes" today, vote "No" tomorrow, or change to "Undecided" a week later. Point is, we just want to represent your voice accurately at all times. You will always have one vote per poll, so if you do decide to change your vote, your one vote will migrate to your new choice. If you change your vote to "Undecided," you are abstaining and your one vote will be removed from the poll results.
    </div>
    <a name="polls-3"></a>
    <div class="question">
What is "Let Advisers Decide?"
    </div>
    <div class="answer">
      If you have an adviser or multiple advisers, selecting this voting option will allow your one vote to be determined by your adviser(s). If you have more than one adviser, your one vote will be determined by the majority vote amongst your advisers. Again, if you don't agree with your adviser or your advisers' majority vote, you can always change it.
    </div>
    <a name="polls-4"></a>
    <div class="question">
      I never voted on a particular poll, but my vote has been cast without me knowing. How did this happen?
    </div>
    <div class="answer">
      Most likely, your adviser(s) voted for you. If you don't agree with the vote, you can switch it to your preference or you can abstain by selecting "Undecided."
    </div>
  </div>
  <div class="section">
    <h2>Legislation</h2>
    <a name="legislation-1"></a>
    <div class="question">
      I created a bill, but I also see a poll and forum related to my bill that I never knew about. How did that happen?
    </div>
    <div class="answer">
      Whenever you create a bill, a poll and forum is created automatically. The poll allows users to vote whether they approve your bill or not, and the forum allows them to post topics and comments regarding your bill. 
    </div>
    <a name="legislation-2"></a>
    <div class="question">
      When I vote on a bill, I get redirected to a poll page. Is this supposed to happen? Has my vote been counted?
    </div>
    <div class="answer">
      When you vote on bills, you are redirected to a poll page. Once you're on a poll page, a blue verification message will appear indicating you have voted and it has been counted.
    </div>
    <a name="legislation-3"></a>
    <div class="question">
      I'm trying to create a bill, but I'm not sure how to do proper formatting with sections. How do I make each header large and bold, for example?
    </div>
    <div class="answer">
      There is a simple general format for formating a bill. For each section you want to type in:
      <br /><br />
      SECTION #. TITLE
      <br /><br />
      or
      <br /><br />
      SEC. #. TITLE. 
      <br /><br />
      This all goes on a single line--either one works. Just make sure you use CAPS and place the periods where they appear. For example, if I want to write my 5th section titled "Monkey," I would type in either:
      <br /><br />
      SECTION 5. MONKEY
      <br /><br />
      or
      <br /><br />
      SEC. 5. MONKEY.
      <br /><br />
    </div>
  </div>
  <div class="section">
    <h2>Groups</h2>
    <a name="groups-1"></a>
    <div class="question">
      I want to start a group. How do I do that?
    </div>
    <div class="answer">
      On the homepage, there is a mint green box under the log in for group signups. You can also sign up as a group by going to the top right hand corner, click on "sign up," and finally "Group Signup."
    </div>
    <a name="groups-2"></a>
    <div class="question">
      I have a Group Forum. I don't remember making one, so where did it come from?
    </div>
    <div class="answer">
      When you create a Group, a forum is automatically created for your Group and its members. Each group has their own related forum providing group members a place for open discussion.
    </div>
  </div>
  <div class="section">
    <h2>Account</h2>
    <a name="account-1"></a>
    <div class="question">
      How do I upload a profile picture?
    </div>
    <div class="answer">
      Once logged in, go to "Account Settings" at the top right hand corner and upload a photo from your computer.
    </div>
    <a name="account-2"></a>
    <div class="question">
      How can I make my profile and my votes private?
    </div>
    <div class="answer">
      At the moment all profiles and votes are public. However, we are working on privacy settings that will be available soon.
    </div>
  </div>
  <div class="section">
    <h2>From the Nay-Sayers</h2>
    <a name="naysayers-1"></a>
    <div class="question">
      Aren't websites only meant to waste my time, and make you money off advertising?
    </div>
    <div class="answer">
We hope not. FreeGovernment.org is here to help you create real change in politics. Our dedication to doing this unbiasedly, naturally restricts us from putting up ads. Consequently your donations mean an incredible amount to us, so please donate.
    </div>
    <a name="naysayers-2"></a>
    <div class="question">
Isn't our representative system enough?
    </div>
    <div class="answer">
Congressional approval ratings speak for themselves.
    </div>
    <a name="naysayers-3"></a>
    <div class="question">
Do people really have the time to participate in free government?
    </div>
    <div class="answer">
Without FreeGovernment.org or something similar? No. However, through the use of adviser voting, we hope to empower citizens with a convenient way to maintain a critical role in the political process.
    </div>
    <a name="naysayers-4"></a>
    <div class="question">
Do people honestly have the foresight, intelligence, and knowledge to participate in free government?
    </div>
    <div class="answer">
As a matter of principle, America has never forgone the chance to decide its own destiny. We intend to follow that precedent.
    </div>   
  </div>
</div>
