<div id="terms" class="page">

<h1>Terms and Conditions</h1>

<h2>Intent and Agreement of Terms</h2>

As FreeGovernment.org is designed to facilitate discourse and debate on political matters ("the Intent"), your use of this site is therefore governed by the following Terms and Conditions ("the Terms") as well as the Privacy Policy (found at http://www.freegovernment.org/privacy). By using this site you agree to the Terms. If you do not agree to the Terms please do not use this site.

<h2>Responsibility for Content</h2>

You agree to assume all responsibility for any content you post on or transmit to this site.

<br />

The following classes of content are inappropriate for the site, as it either works against or distracts from the Intent of the site or impinges on the rights of members of society at-large:
<ul>
  <li>content that violates the rights of personality of any person;</li>
  <li>content that is libelous, slanderous, or defamatory;</li>
  <li>content that infringes on the intellectual property rights of an person or entity without permission;</li>
  <li>promotions or solicitation for any commercial purpose;</li>
  <li>content that organizes or advocates violence not to be authorized by the government;</li>
  <li>expressions of bigotry, prejudice, or racism;</li>
  <li>obscene or pornographic content.</li>
</ul>

<br />

You agree not to post or transmit content defined as inappropriate for this site.


<h2>Wrongful Use</h2>

You agree not use this site in any of the following ways, as it diminishes the effective level of communication of the site:

<ul>
  <li>Harass or impersonate any person or entity.</li>
  <li>Send unsolicited email.</li>
  <li>Create user accounts by an automated means.</li>
  <li>Transmit or link to any harmful computer code.</li>
</ul>

<h2>Retained Rights</h2>

We retain the right (but not the obligation) to remove any content or suspend accounts that violate these Terms. We will not remove any content or suspend accounts for any other reasons, except through the alteration of the Terms themselves.

<br />

We retain the right to alter the Terms at any time.

<h2>Passwords</h2>

You agree that you are responsible for maintaining the confidentiality of passwords associated with any account you may use.

<h2>Notices</h2>

You agree and understand that by using this site you may be exposed to content that you find offensive or objectionable.

</div>
