- form_for Feedback.new, :action => url(:send_feedback), :class => 'standard', :id => 'feedback_form' do
  %p FreeGovernment.org is in active development. We consider your feedback critical to our success, so please share your suggestions through this form.
  = hidden_control :controller, :value => params[:controller]
  = hidden_control :action, :value => params[:action]
  = text_area_control :message, :label => 'Your message'
  %div
    = submit_button 'Send Feedback!', :class => 'submit'
    %button{ :class => 'close', :type => 'button' } Close