#header.girdle
  #logo_and_account_bar
    #logo
      %h1
        = link_to "Free Government", url(:home)
        %span.caption== Democracy In Your Hands.
    = partial 'layout/account_bar'
  = partial 'layout/navigation'

