#header.girdle
  %h1#logo
    #logo_link= link_to "Free Government", url(:home)
    %span Democracy In Your Hands.
  = partial 'layout/account_bar'
  = partial 'layout/navigation'
  = partial 'layout/feedback'
