%head
  %title== Free Government - Democracy in Your Hands.
  %link{ :rel => "icon", :href => "/favicon.ico", :type => "image/x-icon" }
  = partial 'layout/javascripts'
  = partial 'layout/stylesheets'
