#new_post
  - form_for @post, :action => url(:post, :id => @post.id), :class => 'full' do
    %h1 Edit your post
    = error_messages_for @post
    = text_area_control :text, :label => 'your post ( <a href="http://hobix.com/textile/">Textile enabled</a> )'
    .actions
      .cancel
        = link_to "cancel", post_url(@post)
      .submit
        = submit_button "submit post"
