<div id="exception">
	<p>Sorry. An error has occured. We're working on it right now.</p>
	<div class="links">
		<a href="<%= url(:home) %>">Home Page</a>
		<a href="<%= url(:contact_us) %>">Contact Support</a>
	</div>
</div>